<content id="template">
    <style>       
        #pnp-modern-search_{{@root.instanceId}} .flickity-page-dots { 
            bottom: 5px; 
        }
    </style>

    <div id="pnp-modern-search_{{@root.instanceId}}" class="template_root">
        {{#if @root.hasPrimaryOrSecondaryResults}} 
            {{#>slider items=(JSONstringify @root.items 2) options=(JSONstringify @root.sliderOptions)}}
                <div class="slide" style="height: 360px;width: 318px;margin: 5px;">
                    \{{#if AuthorOWSUSER}}
                        \{{#with (split AuthorOWSUSER '|')}}
                            <pnp-document-card 	title="\{{../Title}}" 
                                            location="\{{../SiteTitle}}"
                                            preview-image="\{{getPreviewSrc item}}" 
                                            preview-url="\{{../ServerRedirectedEmbedURL}}" 
                                            date="\{{getDate ../Created 'LL'}}" 
                                            href="\{{getUrl item}}" 
                                            author="\{{../Author}}" 
                                            profile-image="/_layouts/15/userphoto.aspx?size=L&username=\{{[0]}}" 
                                            file-extension="\{{../FileType}}"
                                            enable-preview="false" 
                                            show-file-icon="true">
                            </pnp-document-card>
                        \{{/with}}
                    \{{else}}
                            <pnp-document-card 	title="\{{Title}}" 
                                            location="\{{SiteTitle}}"
                                            preview-image="\{{getPreviewSrc item}}" 
                                            preview-url="\{{ServerRedirectedEmbedURL}}" 
                                            date="\{{getDate Created 'LL'}}" 
                                            href="\{{getUrl item}}" 
                                            author="\{{Author}}" 
                                            profile-image="" 
                                            file-extension="\{{FileType}}"
                                            enable-preview="false" 
                                            show-file-icon="true">
                            </pnp-document-card>
                    \{{/if}}                    
                </div>                
            {{/slider}}
            {{#if @root.paging.showPaging}}
                <pnp-pagination 
                    total-items="{{@root.paging.totalItemsCount}}" 
                    hide-first-last-pages="{{@root.paging.hideFirstLastPages}}"
                    hide-disabled="{{@root.paging.hideDisabled}}"
                    hide-navigation="{{@root.paging.hideNavigation}}"
                    range="{{@root.paging.pagingRange}}" 
                    items-count-per-page="{{@root.paging.itemsCountPerPage}}" 
                    current-page-number="{{@root.paging.currentPageNumber}}"
                >
                </pnp-pagination>
            {{/if}}
        {{else}}
            {{#unless showBlank}}
                <div class="template_noResults">{{@root.strings.NoResultMessage}}</div>
            {{/unless}}
        {{/if}}
    </div>
</content>

<content id="placeholder"> 

    <style>        
        #pnp-modern-search_{{@root.instanceId}} .flickity-page-dots { 
            bottom: 5px; 
        }
    </style>

    <div id="pnp-modern-search_{{@root.instanceId}}" class="placeholder_root">
        {{#>slider items="[{},{},{},{},{}]" options=(JSONstringify @root.sliderOptions)}}
            <div class="slide" style="height: 360px;width: 318px;margin: 5px;">
                <pnp-document-card-shimmers is-compact="\{{@root.isCompact}}"></pnp-document-card-shimmers>
            </div>                
        {{/slider}}
    </div>
</content>