.overlay {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {

    textarea {
        font-size: 20px!important;
        font-weight: 600!important;
    }
}
