.searchBox {

    position: relative;

    .errorMessage {
        margin-bottom: 10px;
    }

    *::-ms-clear {
        display: none;
    }

    .suggestionGroupName {
        padding: 6px;
        font-size: 14px;
        font-weight: 400;
        color: #777;
    }

    .suggestionItem {
        padding: 10px;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        cursor: pointer;

        .suggestionIcon {
            min-width: 40px;
            display: flex;
            justify-content: center;

            & > img {
                max-width: 30px;
                max-height: 30px;
            }
        }

        .suggestionContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            flex: 1 1 auto;
            color: #333;
        }

        .suggestionAction {
          display: flex;
          flex-direction: row;
          justify-content: center;
          border-radius: 50px;

          &:hover {
            background: #fff;
          }
        }
    }

    .searchFieldGroup {

        display: flex;
        position: relative;

        .searchTextField {
            width: 100%;
        }

        .searchBtn {
            position: absolute;
            right: 0;
        }

        .clearBtn {
            position: absolute;
            right: 32px;
        }
    }

    .suggestionPanel {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }

    .selected {
        background-color: #f4f4f4;
    }
}

.parentStackingCtx {
    position: relative;
    z-index: 1;
}
