.pnpRefinersTemplatePersona {
  margin-bottom: 18px;
  :global {
    .pnp-shimmer {
      margin-top: 8px;
      margin-left: 2px;
      .ms-Shimmer-shimmerWrapper {
        display: flex;
      }
    }
    .pnp-persona {
      cursor: pointer;
    }

    .pnp-value-filter-container {
      width: "200px";
      display: "flex";
    }
  }
}
