.refiner {
    margin: 0; padding: 0;
    .customTemplate,
    .sortDirection,
    .sortType,
    .templateType,
    .displayName,
    .property {padding: 0.5rem 0 0.5rem 0;}

    padding-bottom: 1rem;
    border-bottom: 1px solid '[theme:themeDarker, default:#0078d7]';
    margin-bottom: 1rem; 
    
}