.pnpRefinersTemplateFileType {
  :global {
    .ms-Checkbox {
      .pnp-lbl {
        margin-left: 5px;
      }
    }

    .pnp-value-filter-container {
      width: "200px";
      display: "flex";

      .pnp-value-filter {
        padding-left: 10px;
      }
    }
  }
}
