name: Release Modern Search Extensibility package

on:
    workflow_dispatch:

jobs:
    extensibility-release:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./search-extensibility

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2
              with:
                  ref: develop
            # setup nodejs
            - name: Use Node.js 14
              uses: actions/setup-node@v2
              with:
                  node-version: 14
                  registry-url: "https://registry.npmjs.org"
            # cache node modules
            - name: Cache node modules
              id: cache
              uses: actions/cache@v2
              with:
                  path: |
                      **/node_modules
                  key: node_modules-${{ hashFiles('**/package-lock.json') }}
            # if cache failed, use npm to install
            - name: Restore dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci

            # Runs a set of commands using the runners shell
            - name: Test - not setup
              run: echo this would be the tests

            # Runs a single command using the runners shell
            - name: Build
              run: npm run build

            - name: Publish
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
