@import '~office-ui-fabric-react/dist/sass/References.scss';

.refinerEditorButton {
    
    .addButton{ display: block; margin-top: 0.5rem; margin-bottom: 0.5rem; }

}

.refinerEditor {
    
    padding-top: 1rem;

    .addContainer { display: block; }

    .addText { display: block; }

    .deleteButton { margin: auto; }

    .refinerHeader { display: flex; align-items: center; cursor: pointer; }

    .refinerMenu { margin-left: auto; }

    .expandCollapse { margin-right: 1rem; }
}

.refEditorPanel {
    
    :global(.ms-Panel-header) {

       position: absolute;
       top: 0;
       left: 0;
       padding: 1rem;
       margin: 0; 

       p { padding: 0; margin: 0; }

    }

}

.refCodeEditor {
    display: block;
}